* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    --letterspage01:#fff;
    --letterspage02: #000;
    --sonhadores: #1D009F;
    --stranger: #FF0E0E;
    --background: #1D009F;
    --headercolor: linear-gradient(#251351, #2C2381);
    --lettersfill: rgb(0, 0, 0, 65);

body{
    background: var(--background);
    font-family: "Inter", sans-serif;
    justify-content: center;
    align-content: center;
}

header{
    background-image: var(--headercolor);
    height: 100px;
    justify-content: space-around;
    align-content: center;
    margin-left: -50px;
    margin-right: -50px;
    display: flex;
}

.logoimg{
    width: 78px;
    height: 78px;
    justify-content: center;
    align-items: center;
    margin-top: 11px;
    margin-bottom: 11px;
}

.headertittle{
    width: 200px;
    height: 78px;
    justify-content: center;
    align-items: center;
    margin-top: 11px;
    margin-bottom: 11px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.divmedias{
    width: 202px;
    height: 54x;
    justify-content: space-between;
    align-content: center;
    margin-top: 23px;
    margin-bottom: 23px;
    display: flex;
}

.page01{
    width: 1440px;
    height: 800px;
    background-image: url(background01.png);
    background-repeat: no-repeat;
    justify-content: flex-end;
    align-content: flex-end;
    justify-self: center;
}

.text01{
    font-size: 20px; 
    text-align: center;
    margin-right: 620px;
    margin-left: 75px;
    margin-bottom: 125px;
    background: var(--lettersfill);
    display: flex;
}

.page02{
    width: 1440px;
    height: 900px;
    background-image: url(background02.png);
    justify-self: center;
    align-content: center;
}

.text02{
    height: 60px;
    font-size: 22px;
    text-align: center;
    justify-content: center;
    justify-items: center;
    margin-left: 500px;
    margin-right: 500px;
    margin-bottom: 25px;
    margin-top: 25px;
    padding-top: 12px;
    padding-bottom: 12px;
    background: var(--letterspage02);
    display: flex;
}

.divalbums{
    height: 365px;
    color: var(--sonhadores);
    font-size: 20px;
    justify-content: center;
    align-content: center;
    margin-bottom: 25px;
    display: flex;
}

.album{
    text-align: center;
    margin-left: 35px;
    margin-right: 35px;
    
}

.albumsimg{
    height: 275px;
    color: var(--letters);
}

.albumscaption{
    color: var(--sonhadores);
    background-color: var(--lettersfill);
    height: 90px;
    text-align: center;
    justify-content: center;
    align-content: center;
}

.footer{
    background-image: var(--footer);
    height: 248px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footerlogo{
    margin-top: 12px;
}

.moreinfo{
    padding-top: 6px;
    padding-bottom: 1px;   
}

.privacity{
    padding-top: 1px;
}

.link{
    color: inherit;
    text-decoration: none;
}