* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --letterspage01:#fff;
    --letterspage02: #000;
    --sonhadores: #1D009F;
    --stranger: #FF0E0E;
    --background: #1D009F;
    --headercolor: linear-gradient(#251351, #2C2381);
    --introback: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(29, 0, 159, 0.4) 100%);
););
    --lettersfill: rgb(0 0 0 / 65%);

body{
    background: var(--background);
    font-family: "Azeret Mono", monospace;
    justify-content: center;
    align-content: center;
}

header{
    background-image: var(--headercolor);
    color: var(--letterspage01);
    height: 150px;
    justify-content: space-between;
    align-items: center;
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
}

.logotittle{
    background-color: var(--lettersfill);
    width: 1016px;
    align-items: center;
    margin-right: 25px;
    display: flex;
}
    
.logoimg{
    width: 70px;
    height: 70px;
    margin-left: 25px; 
}
    
.headertittle{
    height: 100px;
    align-content: center;
    margin-left: 30px;
}
    
.divmedias{
    width: 350px;
    height: 100px;
    justify-content: space-between;
    align-content: center;
    display: flex;
}

.page01back{
    width: 1440px;
    height: 750px;
    background-image: url(background01.png);
    background-repeat: no-repeat;
    justify-self: center;
    align-content: center;
}

.page01{
    display: flex;
}

.intro{
    width: 900px;
    height: 600px;
    margin-left: 74px;
    margin-top: 70px;
    margin-bottom: 85px;
    padding-top: 59px;
    padding-bottom: 42px;
    padding-left: 33px;
    padding-right: 33px;
    background: var(--introback);
    color: var(--letterspage01);
    display: flex;
}

.firstline{
    width: 833px;
    height: 47px;
    justify-self: center;
    align-items: center;
    display: flex;
}

.secondline{
    width: 833px;
    height: 47px;
    margin-bottom: 378px;
}

.options{
    
}

.door{
    width: 257px;
    height: 298px;
}

.redhand{
    width: 112px;
    height: 95px;
}

.butts{

}

.butt01{
    
}

.butt02{
    
}

.omori{
    width: 473px;
    height: 458px;
    display: flex;
}

.page02{
    width: 1440px;
    height: 900px;
    background-image: url(background02.png);
    color: var(--letterspage02);
    justify-self: center;
    align-content: center;
}

.text02{
    height: 47px;
    font-size: 22px;
    text-align: center;
    justify-content: center;
    justify-items: center;
    margin-left: 446px;
    margin-right: 446px;
    margin-bottom: 25px;
    margin-top: 25px;
    padding-top: 12px;
    padding-bottom: 12px;
    display: flex;
}

.sonhadores{
    height: 253px;
    color: var(--sonhadores);
    font-size: 20px;
    justify-content: center;
    align-content: center;
    margin-bottom: 25px;
    display: flex;
}

.dreamer{
    text-align: center;
    margin-left: 35px;
    margin-right: 35px;
}

.dreamerimg{
    height: 200px;
    color: var(--letters);
}

.nomes{
    color: var(--sonhadores);
    text-align: center;
    justify-content: center;
    align-content: center;
}

.footer{
    background-image: var(--footer);
    color: var(--letterspage01);
    height: 248px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footerlogo{
    margin-top: 12px;
}

.moreinfo{
    padding-top: 6px;
    padding-bottom: 1px;   
}

.privacity{
    padding-top: 1px;
}

.link{
    color: inherit;
    text-decoration: none;
}